<!--<div class="container">
  <form>
    <mat-card class="form-card">
      <mat-card-header>
        <mat-card-title>LOGIN</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput type="text" id="user" name="username" required />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" id="password" name="contrasena" required />
          </mat-form-field>
        </p>
        <div class="button-container">
           Aquí se invoca onLogin() cuando el botón es presionado
          <button mat-button type="submit">Iniciar Sesión</button>
          <a routerLink="/registrar" mat-button type="button">Registrarse</a>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</div>-->

<div>
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <label for="username">Usuario:</label>
    <input type="text" id="username" [(ngModel)]="usuari" name="username" required>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" [(ngModel)]="contrasenya" name="password" required>

    <button type="submit">Ingresar</button>
  </form>

  <p *ngIf="errorMensaje" style="color: red;">{{ errorMensaje }}</p>
</div>

